@import "tailwindcss";

:root {
  --background: #efefef;
  --background-box: #dddddd;
  --foreground: #2f2f2f;
  --primary: #3fe0e0;
  --secondary: #5600b3;
  --danger: #c90900;
  --warning: #ffd700;
  --success: #32bd32;
  --info: #3239bd;
  --link: #ffa900;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-box: var(--background-box);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-link: var(--link);

  /* Fonts */
  --font-rubik-bold: rubik-bold;
  --font-rubik-medium: rubik-medium;
  --font-rubik-regular: rubik-regular;
}

@font-face {
  font-family: rubik-bold;
  src: url("../public/fonts/Rubik/static/Rubik-Bold.ttf");
}
@font-face {
  font-family: rubik-medium;
  src: url("../public/fonts/Rubik/static/Rubik-Medium.ttf");
}
@font-face {
  font-family: rubik-regular;
  src: url("../public/fonts/Rubik/static/Rubik-Regular.ttf");
}

@layer utilities {
  .row-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .initial-before {
    @apply before:content-[''] before:absolute;
  }
  .initial-after {
    @apply after:content-[''] after:absolute;
  }
  .text-gradient {
    @apply bg-linear-to-r from-[#3FE0E0] to-[#5600B3] bg-clip-text text-transparent;
  }
}

.dark {
  --background: #181b1d;
  --background-box: #353637;
  --foreground: #e2e2e2;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 12px 12px; 
  grid-template-areas: 
    "first first second"
    "third third third"; 
}
.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }