@import "tailwindcss";

:root {
  --background: #efefef;
  --background-box: #dddddd;
  --foreground: #2f2f2f;
  --primary: #3fe0e0;
  --secondary: #5600b3;
  --danger: #c90900;
  --warning: #ffd700;
  --success: #32bd32;
  --info: #3239bd;
  --link: #ffa900;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-box: var(--background-box);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-link: var(--link);

  /* Fonts */
  --font-rubik-bold: rubik-bold;
  --font-rubik-medium: rubik-medium;
  --font-rubik-regular: rubik-regular;

  --hex-width: 4.5rem;
  --hex-height: 3.5rem;
  --border-size: 0.0625rem;
}

@font-face {
  font-family: rubik-bold;
  src: url("../public/fonts/Rubik/static/Rubik-Bold.ttf");
}
@font-face {
  font-family: rubik-medium;
  src: url("../public/fonts/Rubik/static/Rubik-Medium.ttf");
}
@font-face {
  font-family: rubik-regular;
  src: url("../public/fonts/Rubik/static/Rubik-Regular.ttf");
}

@layer utilities {
  .row-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .initial-before {
    @apply before:content-[''] before:absolute;
  }
  .initial-after {
    @apply after:content-[''] after:absolute;
  }
  .text-gradient {
    @apply bg-linear-to-r from-[#3FE0E0] to-[#5600B3] bg-clip-text text-transparent;
  }
}

.dark {
  --background: #181b1d;
  --background-box: #353637;
  --foreground: #e2e2e2;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px 12px;
  grid-template-areas:
    "first first second"
    "third third third";
}
.first {
  grid-area: first;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 0.5;
  grid-auto-flow: row;
  grid-template-areas:
    "one one . two two"
    "three three . four four"
    "five five . six six";
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}


.hex {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(90deg);
} 

.custom-color {
  color: var(--progress-color);
}

.custom-bf-color::before {
  content: '';
  color: var(--progress-color);
}

.custom-bf-background-color::before {
  content: '';
  background-color: var(--progress-color);
}

.custom-background-color {
  background-color: var(--progress-color);
}

.custom-border-color {
  border-color: var(--progress-color);
}